.container-fluid {
    padding: 0 0;
}
.grey{
    background: #d2d5db;
}
.centerBox {
    z-index: 1000;
    margin-top: 60px;
    background: #fff;
    padding: 10px 25px;
    border-radius: 5px;
}
.chat {
    display: flex;
}
.col-md-3, .col-md-9 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
/* Profile sidebar */
.profile-sidebar {
  padding: 0px 0px;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.chat__main{display:flex;flex-direction:column;height:100vh;width:100%}
.chat__messages{flex-grow:1;overflow-y:scroll;-webkit-overflow-scrolling:touch;padding:10px}
.chat__footer{display:flex;flex-shrink:0}.chat__footer form{flex-grow:1;display:flex}
.chat__footer form *{margin-right:10px}.chat__footer input{border:none;padding:10px;flex-grow:1}
.message{padding:10px}.message__title{display:flex;margin-bottom:5px}
.message__title h4{font-weight:600;margin-right:10px}
.message__title span{color:#999}@media (max-width:600px){*{font-size:1rem
}.chat__sidebar{display:none}
.chat__footer{flex-direction:column}
.chat__footer form{margin-bottom:10px}
.chat__footer button{margin-right:0}}
.chat__sidebar{overflow-y:scroll;height:100vh;background: #000;}
.chat__footer{background:#e6eaee;padding:10px}
.chat__sidebar h3{color:#e6eaee;margin:10px 20px;text-align:left}
.chat__sidebar li{color: #e1e1e1;border-radius:5px;margin:10px}
